<html>
  <head>
    <link rel="stylesheet" type="text/css" href="gofish.css" />
  </head>
  <body>
    <h1>Welcome, <%= @player.name %>!</h1>
    <div id='card_table'>
      <div id="your_hand">
        <% @player.cards.each do |card| %>
        <div class="your-card">
        <%= card %>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
